$o-theme-font-configs: (
   'PlusJakartaSans': (
      'family': ('PlusJakartaSans', sans-serif),
      'properties' : (
         'base': (
            'font-size-base': 1rem,
         ),
      ),
   ),
);

$o-website-values-palettes: (
   (
      'font':'PlusJakartaSans',
      'headings-font':'PlusJakartaSans',
      'navbar-font':'PlusJakartaSans',
      'buttons-font':'PlusJakartaSans',
   ),
);
