// Color
$o-white: #fff;
$o-black: #17171A;

$o-gray-50: #FAFAFA;
$o-gray-100: #F5F5F5;
$o-gray-200: #E5E5E5;
$o-gray-300: #D4D4D4;
$o-gray-400: #A3A3A3;
$o-gray-500: #737373;
$o-gray-600: #525252;
$o-gray-700: #404040;
$o-gray-800: #262626;
$o-gray-900: #171717;

$light: $o-gray-100;
$o-border-color: $o-gray-200;
$text-muted: #71717A;

// Submenu
$pyper-structured-menu-bg: $o-white;
$pyper-structured-menu-content-hover-bg: $o-gray-100;
$pyper-structured-menu-content-active-bg: $pyper-structured-menu-content-hover-bg;
$pyper-structured-menu-content-active-hover-bg: $pyper-structured-menu-content-hover-bg;
$pyper-structured-menu-border-color: transparent;
$pyper-structured-menu-content-color: #fff;
$pyper-structured-menu-content-item-icon-size: 54px;
$pyper-structured-menu-obfuscator-bg: rgba(23,23,26,0.75);
