@keyframes fadeInLeftLight {
    0% {
        opacity: 0;
    }
    1% {
        transform: translateX(-24px);
    }
}

@keyframes fadeInDownLight {
    0% {
        opacity: 0;
    }
    1% {
        transform: translateY(-24px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.fadeInLeftLight {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeInLeftLight;
}

.fadeInDownLight {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeInDownLight;
}

.o-dropdown--menu, .o_popover {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeInDownLight;
}

.modal-content {
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-name: fadeInDownLight;
}

.pulse {
    transform: scale(1);
    animation: pulse 3s infinite;
}

.o_kanban_record, tr.o_data_row {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: fadeInDownLight;
}
