# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Odoo
*.pyc
*.pyo
*.swp
*.swo
*~

# Archives
*.tar.gz
*.zip

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db
