// Color
$o-white: #FFF !default;
$o-black: #000 !default;

$o-gray-50: #f9fafb !default;
$o-gray-100: #f3f4f6 !default;
$o-gray-200: #e5e7eb !default;
$o-gray-300: #d1d5db !default;
$o-gray-400: #9ca3af !default;
$o-gray-500: #6b7280 !default;
$o-gray-600: #4b5563 !default;
$o-gray-700: #374151 !default;
$o-gray-800: #1f2937 !default;
$o-gray-900: #111827 !default;

$o-opacity-disabled: .5 !default;
$o-opacity-muted: .76 !default;

$o-brand-primary: $o-gray-700 !default;
$o-brand-secondary: #94a3b8 !default;
$o-brand-lightsecondary: $o-gray-100 !default;
$o-brand-odoo: $o-brand-primary !default;
$o-community-color: $o-brand-primary !default;
$o-enterprise-color: $o-brand-primary !default;
$border-color: $o-gray-200 !default;

$o-success: #23F3A8 !default;
$o-info: #bfdbfe !default;
$o-warning: #ffac00 !default;
$o-danger: #e06561 !default;

$o-action: $o-gray-500 !default;
$o-enterprise-action-color: $o-action !default;

$o-main-text-color: $o-gray-700 !default;
$o-main-link-color: $o-gray-400 !default;
$o-main-color-muted: rgba($o-main-text-color, $o-opacity-muted) !default;

// Typography
$font-size-base: 0.875rem !default;

// Component
$o-component-active-color: $o-gray-900 !default;
$o-component-active-bg: mix($o-action, $o-white, 10%) !default;
$o-component-active-border: $o-action !default;

// List group
$o-list-group-header-color: $o-gray-900 !default;
$o-list-footer-color: $o-gray-900 !default;
$o-list-footer-bg-color: transparent !default;
$o-list-footer-font-weight: 500 !default;

// Form
$o-input-padding-y: 1px !default;
$o-input-padding-x: 0 !default;
$o-input-border-required: $o-gray-900 !default;
$o-form-view-sheet-max-width: 100% !default;
$o-control-panel-background-color: $o-white !default;

// Badge
$o-badge-min-width: 2.7ch !default;

// Button
$btn-padding-y-sm: 0.1rem !default;
$btn-padding-x-sm:0.5rem !default;

// Kanban
$o-kanban-background : $o-gray-50 !default;
$o-kanban-inside-hgutter: 18px !default;
$o-kanban-group-padding: 18px !default;
$o-kanban-progressbar-height: 0.5rem !default;

$o-statusbar-height: 40px !default;

// Fields
$o-main-favorite-color: $o-brand-primary !default;

// Cards
$card-border-color: $border-color !default;

// Button
$o-btns-bs-override: () !default;
$o-btns-bs-override: map-merge((
    'primary': (
        background: $o-brand-primary,
        border: $o-brand-primary,
        color: $o-white,
        hover-background: darken($o-brand-primary, 5%),
        hover-border: darken($o-brand-primary, 10%),
        hover-color: $o-white,
        active-background: mix($o-brand-primary, $o-white, 10%),
        active-border: $o-brand-primary,
        active-color:$o-brand-primary,
    ),
    'secondary': (
        background: $o-white,
        border: $border-color,
        color: $o-gray-700,
        hover-background: $o-gray-100,
        hover-border: $o-gray-300,
        hover-color: $o-gray-700,
        active-background: $o-brand-primary,
        active-border: $o-brand-primary,
        active-color: $o-white,
    ),
    'light': (
        background: $o-gray-100,
        border: $o-gray-100,
        color: $o-gray-800,
        hover-background: $o-gray-200,
        hover-border: $o-gray-200,
        hover-color: $o-gray-900,
        active-background: $o-component-active-bg,
        active-border: $o-component-active-border,
        active-color: $o-component-active-color,
    ),
), $o-btns-bs-override);

$o-btns-bs-outline-override: () !default;
$o-btns-bs-outline-override: map-merge((
    'secondary': (
        background: transparent,
        border: $border-color,
        color: $o-gray-700,
        hover-background: $o-gray-200,
        hover-border: $border-color,
        hover-color: $o-gray-800,
        active-background: $o-component-active-bg,
        active-border: $o-component-active-border,
        active-color: $o-component-active-color,
    ),
), $o-btns-bs-outline-override);
