// Webclient
$o-webclient-background-color: $o-white !default;

// Form
$o-form-lightsecondary: $o-gray-200 !default;

// Statusbar
$o-statusbar-disabled-bg: lighten($o-brand-lightsecondary, 7%) !default;
