<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
            id="smartphone_products"
            name="Smartphones"
            sequence="1"
            parent="pyper_product_extend_features.product_by_pattern_menu"
            action="pyper_product_extend_features_it.product_smartphone_kanban"
    />

    <menuitem
            id="laptop_products"
            name="Laptops"
            sequence="2"
            parent="pyper_product_extend_features.product_by_pattern_menu"
            action="pyper_product_extend_features_it.product_laptop_kanban"
    />

    <menuitem
            id="IT_menu"
            name="IT"
            sequence="1"
            parent="pyper_product_extend_features.product_features_menu"
    >
        <menuitem
                id="product_operating_system_menu"
                name="Operating system"
                sequence="1"
                action="pyper_product_extend_features_it.action_product_operating_system"
        />

        <menuitem
                id="product_storage_type_menu"
                name="Storage type"
                sequence="2"
                action="pyper_product_extend_features_it.action_product_storage_type"
        />

        <menuitem
                id="product_storage_capacity_menu"
                name="Storage capacity"
                sequence="3"
                action="pyper_product_extend_features_it.action_product_storage_capacity"
        />

        <menuitem
                id="product_processor_menu"
                name="Processors"
                sequence="4"
                action="pyper_product_extend_features_it.action_product_processor"
        />

        <menuitem
                id="product_processor_model_menu"
                name="Processor model"
                sequence="5"
                action="pyper_product_extend_features_it.action_product_processor_model"
        />

        <menuitem
                id="product_processor_generation_menu"
                name="Processor generation"
                sequence="6"
                action="pyper_product_extend_features_it.action_product_processor_generation"
        />

        <menuitem
                id="product_screen_size_menu"
                name="Scren sizes"
                sequence="7"
                action="pyper_product_extend_features_it.action_product_screen_size"
        />

        <menuitem
                id="product_graphic_card_menu"
                name="Graphic cards"
                sequence="8"
                action="pyper_product_extend_features_it.action_product_graphic_card"
        />

        <menuitem
                id="product_screen_quality_menu"
                name="Screen quality"
                sequence="9"
                action="pyper_product_extend_features_it.action_product_screen_quality"
        />

        <menuitem
                id="product_product_network_menu"
                name="Networks"
                sequence="10"
                action="pyper_product_extend_features_it.action_product_network"
        />


        <menuitem
                id="product_product_video_input_menu"
                name="Video Inputs"
                sequence="11"
                action="pyper_product_extend_features_it.action_product_video_input"
        />

        <menuitem
                id="product_product_video_output_menu"
                name="Video Outputs"
                sequence="12"
                action="pyper_product_extend_features_it.action_product_video_output"
        />

    </menuitem>


</odoo>