// Chatter
$o-mail-Chatter-minWidth: 500px !default;

// Chatter Header
$o-mail-followers-counter-padding-v: 1px !default;
$o-mail-followers-counter-padding-h: 2px !default;
$o-mail-followers-counter-border-radius: $o-border-radius !default;
$o-mail-followers-counter-color: $o-white !default;
$o-mail-followers-counter-bg: $o-brand-primary !default;
