// Chatter Header
// --------------

.o-mail-Followers-counter {
    line-height: initial;
    padding: $o-mail-followers-counter-padding-v $o-mail-followers-counter-padding-h;
    border-radius: $o-mail-followers-counter-border-radius;
    color: $o-mail-followers-counter-color;
    background-color: $o-mail-followers-counter-bg;
}
