$pyper-many2one-badge-border-width: 1px !default;
$pyper-many2one-badge-border-color: transparent !default;
$pyper-many2one-badge-padding: 4px 12px !default;
$pyper-many2one-badge-margin-icon: 12px !default;
$pyper-many2one-badge-border-radius: $o-border-radius !default;
$pyper-many2one-badge-bg-opacity: 10% !default;
