.child_condition_kanban {
    .o_kanban_record {
        width: 120px !important;
        min-width: 120px !important;

        .oe_kanban_content {
            padding: 10px 12px 6px !important;
        }

        .variant_price {
            font-size: 12px;
        }

        .quantity_badge {
            position: absolute;
            top: -12px;
            right: 5px;
            width: 24px;
            height: 24px;
            display: block;
            border-radius: 100%;
            font-weight: bold;
            line-height: 24px;
            font-size: 12px;
            text-align: center;
        }
    }
}
