@font-face {
  font-family: "Archivo";
  src: url('Archivo-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Archivo";
  src: url('Archivo-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Archivo";
  src: url('Archivo-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Archivo";
  src: url('Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
}

