$scrollbar-size: 6px !default;
$scrollbar-width: thin !default;
$scrollbar-radius: $scrollbar-size !default;

$scrollbar-thumb-color: transparent !default;
$scrollbar-thumb-hover-color: rgba(#182029, 0.2) !default;
$scrollbar-track-color: transparent !default;
$scrollbar-track-hover-color: rgba(#182029, 0.1) !default;
$scrollbar-thumb-hover-thumb-hover-color: rgba(#182029, 0.4) !default;
